*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
First/.metadata/version.ini
First/.metadata/.log
First/.metadata/.log
First/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
First/.metadata/version.ini
